{% extends "base.html" %}

{% block content %}

<h1>Комментирование</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <h5>{{form.title}}</h5>
    <p>
        {{post_text}}
    </p>

    <p>
        {{ form.content.label }}<br>
        <br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

</form>

{% endblock %}