{% extends "base.html" %}

<!-- Do not use btn btn-secondary, cause it's used in collapse script  -->

{% block content %}
<style>
.content {display: none}
</style>


<h1>Новостной сайт</h1>

{% if current_user.is_authenticated and current_user.access_level > 0 %}
<a class="btn btn-primary " href="/add_new">Добавить запись</a>
{% endif %}

    <div class="d-flex" style="height: 40px;">
    <div class="vr"></div>
    </div>

<h1>Записи:</h1>

<p>
    {% for dataobject in datalist %}
        <h2>{{ dataobject.title }}</h2>
        <p class="lead">
            {{dataobject.content}}
        </p>
        <h5>{{dataobject.author}}</h5>

        <div class="d-flex" style="height: 10px;">
        <div class="vr"></div>

        </div>
        <a class="btn btn-success " href="/add_comment/{{dataobject.id}}">Комментировать</a>

        <div class="d-flex" style="height: 20px;">
        <div class="vr"></div>
        </div>


        <button type="button" class="btn btn-secondary">Показать комментарии</button>
        <div class="content">
            {% for comment in dataobject.comments %}
            <p class="fs-5 col-md-8">
                {% if comment %}
                    {{ comment.author }} : {{ comment.content }}
                {% endif %}

                {% if current_user.is_authenticated and current_user.access_level > 1 %}
                    <a class="btn btn-danger " href="/remove_comm/{{comment.id}}">Удалить запись</a>
                {% endif %}
            </p>
            {% endfor %}


        </div>

        <div class="d-flex" style="height: 20px;">
        <div class="vr"></div>
        </div>

        {% if current_user.is_authenticated and current_user.access_level > 1 %}
            <a class="btn btn-danger " href="/delete/{{dataobject.id}}">Удалить запись</a>
        {% endif %}


        <div class="d-flex" style="height: 100px;">
        <div class="vr"></div>
        </div>


    {% endfor %}

<script>
var coll = document.getElementsByClassName("btn btn-secondary");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}